
@model RentingGown.Models.Gowns
@{
    ViewBag.Title = "Search";
}

<head>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjo2Qe6DhOmWvJ8yO7-PzFjTuZ_8zSPCk&callback=initMap">
    </script>
    <script>
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    console.log(pos["lat"]);
                    console.log(pos["lng"]);
                    document.getElementById("lat").value = pos["lat"];
                    document.getElementById("lng").value = pos["lng"];
                })
            }
        }
        var listOfSizes;
        function createStringSizes() {
            var stringSizes = "";
            for (let size of listOfSizes) {
                if (document.getElementById(size).checked)
                    stringSizes += size + " ";
            }
            document.getElementById("stringSizes").value = stringSizes;
        }

        function changeResult() {
            $ajax({
                url: "",
                method: "get",

                faild: function (err) {
                    alert(err)
                }
            });
        }
        function createClick() {
            document.getElementById("mainSearchbtn").click();
        }

        function func() {
            var details = new Object();
            details.id_category = $('#id_catgory').val();
            details.id_season = $('#id_season').val();
            details.price = $('#price').val();
            var stringSizes = "";
            for (let size of listOfSizes) {
                if (document.getElementById(size).checked)
                    stringSizes += size + " ";
            }
            details.sizes = stringSizes;
            alert("clicked");

        }
        function fillReturnedData() {
            if (document.getElementById("id_catgory").value != 1)
                setTimeout(function () { document.getElementById("mainSearchbtn").click(); }, 10);
              
        }
        function changeCatgory() {

            let sizesForGirls = ["2", "4", "6", "8", "10", "12", "14", "16", "18", "20", "22"];
            let sizesForWomen = ["34", "36", "38", "40", "42", "44", "46", "48", "50", "52", "54"];
            let sizesForBabies = ["3 חד'", "6 חד'", "9 חד'", "12 חד'", "18 חד'", "24 חד'", "30 חד'", "36 חד'"];
            let catgory = document.getElementById("id_catgory").value;

            if (catgory == 1)
                listOfSizes = sizesForGirls;
            else if (catgory == 4)
                listOfSizes = sizesForBabies;
            else listOfSizes = sizesForWomen;

            document.getElementById("sizes").innerHTML = " <span>מידות</span><br />";
            for (let size of listOfSizes) {
                document.getElementById("sizes").innerHTML += `<input type="checkbox" onchange="createStringSizes()" id="${size}"/>${size}`
            }



        }
        function loadFile() {
            changeCatgory();
            fillReturnedData();
            getLocation();
        }

    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="creativelayers">

    <title>Prolist - Directory Listing HTML Template</title>

    <!-- Styles -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="~/Content/line-awesome.min.css" rel="stylesheet" />
    <!-- Icons -->
    <link href="~/Content/style.css" rel="stylesheet" />
    <!-- Style -->
    <link href="~/Content/responsive.css" rel="stylesheet" />
    <!-- Responsive -->
    <link href="~/Content/colors/colors.css" rel="stylesheet" />
    <!-- color -->

    <link rel="shortcut icon" type="image/png" href="~/images/favicon.ico" />
</head>


<body dir="rtl" onload="loadFile()">
   
    <div class="theme-layout">


        <section>
            <div class="block no-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="inner-header">
                                <h2>דף חיפוש</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="block gray ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 column">
                            <div id="SearchContent">
                                <h2>כאן יוצגו תוצאות החיפוש שלך.</h2>
                                <h3>בחר/י את הפרמטרים המתאימים לך ובצע/י חיפוש.</h3>
                            </div>
                        </div>
                        <aside class="col-md-3 column">
                            <div class="widget">
                                <div class="side-search-form">
                                    @using (Ajax.BeginForm("MainSearch", new AjaxOptions
                                    {

                                        HttpMethod = "get",
                                        UpdateTargetId = "SearchContent",
                                        InsertionMode = InsertionMode.Replace,
                                    }))
                                    {
                                        <input type="hidden" id="lat" name="lat" />
                                        <input type="hidden" id="lng" name="lng" />
                                        <h3 class="mini-title">סנן לפי:</h3>

                                        <div class="search_widget">
                                            <div class="side-search-form">


                                                <div class="row">
                                                    <div class="col-md-12" style="height:70px">
                                                        <input type="date" class="input-style" name="date" required value="@{@ViewBag.date}"/>
                                                    </div>
                                                    <div class="col-md-12" style="height:70px">
                                                        <span>קטגוריה</span>
                                                        @Html.DropDownList("id_catgory", null, htmlAttributes: new { @class = "chosen-select", @name = "id_catgory", @id = "id_catgory", @onchange = "changeCatgory()" })
                                                    </div>
                                                    <div class="col-md-12" style="height:70px">
                                                        <span>עונה</span>
                                                        @Html.DropDownList("id_season", null, htmlAttributes: new { @class = "chosen-select", @tabindex = "2", @name = "id_season", @id = "id_season" })
                                                    </div>
                                                    <input type="hidden" id="stringSizes" name="stringSizes" />
                                                    <div class="col-md-12" id="sizes">
                                                        <span>מידות</span><br />
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="selecteurprix">
                                                            <div class="range-slider">
                                                                <span>מחיר</span>
                                                                <input class="input-range" type="range" value=@{@ViewBag.price} min="100" max="500" name="price" id="price" z-index="2">
                                                                <div class="valeurprix">
                                                                    <span class="range-value"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <button type="submit" id="mainSearchbtn">
                                                            <i class="la la-search"></i>
                                                            חפש

                                                        </button>

                                                    </div>
                                                </div>


                                            </div>
                                        </div>

                                        <div class="widget">
                                            <h3 class="mini-title">חיפוש מישני</h3>
                                            <div class="side-search-form">
                                                <form>
                                                    <div class="row">
                                                        <div class="col-md-12" style="height:70px">
                                                            <span>ארוך/קצר</span>
                                                            <select class="chosen-select" tabindex="2" name="is_long" onchange="createClick()">
                                                                <option value=""></option>
                                                                <option value="ארוך">ארוך</option>
                                                                <option value="קצר">קצר</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-12" style="height:70px">
                                                            <span>בהיר/כהה</span>
                                                            <select class="chosen-select" tabindex="2" name="is_light" onchange="createClick()">
                                                                <option value=""></option>
                                                                <option value="בהיר">בהיר</option>
                                                                <option value="כהה">כהה</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-12" style="height:70px">
                                                            <span>צבע</span>
                                                            @Html.DropDownList("color", null, htmlAttributes: new { @class = "chosen-select", @tabindex = "2", @name = "color", @onchange = "createClick()" })
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                            <a href="/Gowns/ShowBasket" title="" class="filter-btn">הצג את סל הבגדים</a>
                        </aside>
                    </div>
                </div>
            </div>
        </section>


    </div>

    <!-- Script -->
    <script src="~/Scripts/js/modernizr.js"></script>
    <!-- Modernizer -->
    <script src="~/Scripts/js/jquery-2.1.1.js"></script>
    <!-- Jquery -->
    <script src="~/Scripts/js/script.js"></script>
    <!-- Script -->
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Scripts/js/scrolltopcontrol.js"></script>
    <!-- ScrollTopControl -->
    @*<script src="~/Scripts/js/slick.min.js"></script>*@
    <!-- Slick -->
    @*<script src="~/Scripts/js/scrolly.js"></script>*@
    <!-- Slick -->
    @*<script src="~/Scripts/js/sumoselect.js"></script>*@
    <!-- Nice Select -->
    <script src="~/Scripts/js/choosen.min.js"></script>
    <!-- Nice Select -->
    <script src="~/Scripts/js/rangeslider.js"></script>
    <!-- Nice Select -->

</body>
